* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


.container-about nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0;

}


.container-about nav h5 {
    color: white;
    font-size: xxx-large;
    /* font-family: ; */
}

.container-about nav ul li {
    display: inline-table;
    list-style: none;
    margin: 20px;
}

.container-about nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

.container-about{
    width: 100%;
    height: 100%;
    background:#46B5D1; 
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;

}

.container-about nav ul {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

.container-about nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -4;
    left: 50%;
    transform: translateX(-50%);
    background:#151965;
    transition: width 0.3s;
}

.container-about nav ul li a:hover::after {
    width: 80%;

}


.about-main{
    /* background: yellow; */
    width: 200%;
    
    /* background:linear-gradient(blue purple); */
}
.about-left-main{
    background:#32407B;
    width: 593px;
    height: 35%;
    position: absolute;
    top: 30%;
    left: 14%;
    border-radius: 12px 12px 0 0;
    padding: 4rem 4rem 2.5rem 5rem;
}


.about-left-cont h2{
    color: #fff;
    text-align: center;
    margin-top: 38%;
    font-size: 2rem;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #46B5D1;

}

.about-left-cont h3{
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 4px;
    margin-top: 10px;
    
}

.about-left-cont .about-img img{
    width: 159px;
    height: 150px;
    overflow: hidden;
    border-radius: 100px;
    
    border-color: #fff;
    transition: all 0.6s ease-in-out;
    
    margin-left: 24%;
    position: absolute;
    top: 13%;

}

.about-left-cont .icons{
    width: 593px;
    height: 40px;
    border-radius: 0 0 12px 12px;
    background:#1d1160;
    position: absolute;
    bottom: -36px;
    left: 0;

}

.about-left-cont .icons img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all 0.5s ease-in;
    cursor: pointer;
    border: none;
    background: transparent;
    position: absolute;
    left: 49%;
    top: 9px;
}

.about-left-cont .icons img:hover{
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.about-btn{
    display: flex;
    position: absolute;
    /* margin-bottom: 2.5rem; */
    top: 24%;
    left: 24%;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    color:#fff
}
.btn.btn-blue{
    background: #46B5D1;
    color: #fff;
    border-color: #515585;
    transition: all 0.5s ease-in-out;
}
.btn.btn-blue:hover{
    background: transparent;
    border-color: #46B5D1;
    color: #fff;
}
.btn.btn-white{
    border-color: #46B5D1;
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
    border-color: #515585;
    background: #46B5D1;
    color: #fff;
}


.about-right-main{
    background: #32407B;
    width: 576px;
    height: 35%;
    position: absolute;
    right: 15%;
    top: 30%;
    border-radius: 12px 12px 0 0;
}


.about-right-cont .about-para{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}


.about-right-cont .about-para p2{
    margin-top: 30%;
    color:white;
    font-weight: 400;
    font-family: 'Source Code Pro', monospace;
    
}

.about-right-cont .about-para p3{
    color:white;
    /* margin-top: 9%; */
    font-weight: 400;
    font-family: 'Source Code Pro', monospace;
    
}


.love{
    top: 100%;
    width: 576px;
    height: 40px;
    border-radius: 0 0 12px 12px;
    background:#1d1160;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-right-cont .love{
    color: white;
    border-radius: 0 0 12px 12px;
    font-weight: 500;
    font-size: small;
    text-align: center;
}

.love span{
    margin-left: 3px;
}

.tools {
    background: #fff;
    border-radius: 12px 12px 12px 12px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    bottom: 20%;
    width: 70%;

    
}

.skillcontainer{
    background: lightcyan;
    padding: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    position: absolute;
    bottom: 1%;
}


.skillitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.skillitem .skill1{
    background-color: #515585;
    width: 100px;
    height: 6px;
    margin-left: 10px;
}


.skillitem .skill2{
    background-color: #515585;
    width: 100px;
    height: 6px;
    margin-left: 10px;
}

.skillitem .skill3{
    background-color: #515585;
    width: 100px;
    height: 6px;
    margin-left: 10px;
}

.skillitem .skill4{
    background-color: #515585;
    width: 100px;
    height: 6px;
    margin-left: 10px;
}

@media only screen and (max-width:428px) {


    .about-left-main{
        background: #32407B;
        width: 300px;
        height: 30%;
        position: absolute;
        top: 14%;
        left: 64px;
    }

    .about-left-cont .icons{
        position: absolute;
        top: 100%;
        width: 300px;
        height: 40px;
    }


    .about-left-cont .about-img img{
        width: 85px;
        height: 85px;
        position: absolute;
        right: 34%;
        overflow: hidden;
        border-color: #fff;
        transition: all 0.5s ease-in-out;
        /* display: none; */

    }
    .about-left-cont .icons img:hover{
        background: #f09433;
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    }


    .about-left-cont h2{
        color: #fff;
        text-align: center;
        margin-top: 55%;
        font-size: 20px;
        line-height: 1.2rem;
        padding-bottom: 1rem;


    }

    .about-right-main{
        /* display: none; */
        width: 300px;
        height: 30%;
        position: absolute;
        top: 50%;
    }

    .btn{
        font-size: 0.7rem;
        width: 90px;
        font-weight: 600;
        margin-top: -29px;
    
    }

    .btn.btn-blue{
        transition: all 0.5s ease-in-out;
        position: absolute;
        left: -21px;
    }

    .btn.btn-white{
        position: absolute;
        transition: all 0.5s ease-in-out;
        left: 81px;
        background: #46B5D1;
        border-color: #515585;
    }


    .about-right-cont .about-para{
        /* display: none; */
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .about-right-cont .about-para p2{
        margin-top: 38%;
        font-size: 11px;
        /* font-size: x-small; */

    }


    .love{
        /* display: none; */
        width: 300px;
        align-items: center;
        justify-content: center;
        display: flex;


    }










    
}

